.RatingFilterContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.RatingsContainer {
    margin: 10px 25px;
}

.RatingStarsContainer.clicked {
    background: linear-gradient(90deg, rgba(194, 235, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}