.cartLogoContainer {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
}

.cartLogoContainer img{
    height: 30px;
}

.cartLogoContainer.cartChanged::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    top: 20px;
    right: 20px;
  }