.AddButton{
    margin-top: auto;
    margin-bottom: auto;
    padding:10px;
    border-radius: 10px;
    border: none;
    background-color:rgb(30, 190, 30);
    text-transform: uppercase;
    font-weight: bold;
    width: 20%;
    color: white;
}